/*
STYLE.CSS
Страница каскадных стилей сайта cclub41.ru полковников запаса 41 армии
(с) Е.Славко, октябрь 2017 г.
*/

/*
Фон страниц с логотипом 41А
*/

body {
	background-color: #FAF0E6;
   background-image: url("Pics/logo41al.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 30px 20px;
}
/*
Градиенты можно сгенерировать по адресу
http://www.cssmatic.com/gradient-generator#
*/

/*
body {
   background: rgba(243,226,199,1);
   background: -moz-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 3%, rgba(233,212,179,1) 100%);
   background: -webkit-gradient(left top, right top, color-stop(0%, rgba(243,226,199,1)), color-stop(0%, rgba(182,141,76,1)), color-stop(3%, rgba(193,158,103,1)), color-stop(100%, rgba(233,212,179,1)));
   background: -webkit-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 3%, rgba(233,212,179,1) 100%);
   background: -o-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 3%, rgba(233,212,179,1) 100%);
   background: -ms-linear-gradient(left, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 3%, rgba(233,212,179,1) 100%);
   background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(182,141,76,1) 0%, rgba(193,158,103,1) 3%, rgba(233,212,179,1) 100%);
   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3e2c7', endColorstr='#e9d4b3', GradientType=1 );
   background-image: url("Pics/logo41al.png");
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: 30px 20px;
}
*/
h1 {
	font-family: western, fantasy;
	font-size: 30;
	color: #423838;
}
/*
Параграф заголовка (подзаголовок)
*/
.ph1 {
	font-family: western, fantasy;
	font-size: 20;
	color: #423838;
}

/*
Параграф первой страницы
*/
.p1p {
	display: block;
	margin-left: 230px;
	margin-right: 15px;
   padding-left: 1%;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 16 px;
   color: #423838;
}
/* 
Нижняя часть (футер) первой страницы
*/
.pfoot {
	display: block;
	position: relative;
	clear: both;
	margin-top: 15px;
	margin-left: 240px;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size:10px;
   font-style: normal;
 
}
/*
Устав клуба (набор стилей префикс - st)
Страница - stlist
Заголовок - stheader
Строка "Утверждения" с правым выравниванием - stpr
Параграфы - stp1...stpn, где n - от 2 до примерно 5
*/
.stlist{
	display: block;
	margin-left: 230px;
	margin-right: 5px;
   padding-left: 1%;
   padding-right: 1%;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: small;
   background-color: #FAF0E6;
   color: #423838;
}
.stpr{
   text-align: right;
   font-style: italic;
   font-size: 0.8em;
}
.stheader{
   text-align: center;   
   font-size: 2em;
   font-weight: bolder;
}
.stp1{
   text-align: center;
   font-size: 1.2em;
   font-weight: bold;
}
.stp2{
   text-align: left;
   padding-left: 1%;
}
/*
#navbar {
   margin: 0;
   padding: 0;
   list-style-type: none;
   width: 200px;
}
#navbar li {
   border-left: 10px solid #666;
   border-bottom: 1px solid #666;
}
#navbar a {
   background-color: #949494;
   color: #fff;
   padding: 5px;
   text-decoration: none;
   font-weight: bold;
   border-left: 5px solid #33ADFF;
   display: block;
}
#navbar a:hover {
  background-color: #666;
  border-left: 5px solid #3333FF;
}
*/
/*Картинка Парада Победы */

#picparade {
  float: right;
  display: block;
  width: 300px;
  height: 200px;
  top: 200px;
  right: 270px;
  margin-left: 15px;
}

/* Главное меню сайта
*/
.main-menu {
  padding: 15px;
  background: #FAF0E6;
  float: left;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-menu h3 {
  font-size: 16px;
  color: rgba(0,0,0,.6);
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.main-menu h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid rgba(0,0,0,.3);
}
.main-menu li {margin: 12px 0 0 0px;}
.main-menu a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color: rgba(0,0,0,.6);
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.main-menu a:after {
  content: "\169";
  font-family: Times;
  position: absolute;
  right: 5px;
  color: white;
  transition: .2s linear;
}
.main-menu a:hover {
  background: #80C8A0;
  color: white;
}
.musanons{
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: small;
   font-style: oblique;
   background-color: lightgray;
   text-decoration-line: overline; 
}
